<!-- model on the map -->
<template name="createDialog">
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Add party</h3>
    </div>

    <div class="modal-body">
      {{#if error}}
        <div class="alert alert-error">{{error}}</div>
      {{/if}}

      <label>Title</label>
      <input type="text" class="title span5">

      <label>Description</label>
      <textarea class="description span5"></textarea>
      <!-- date and time picker added -->
      <label>Date and Time</label>
      <div>
      <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
      </div>
       <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
        </div>
      <label class="checkbox">
        <input type="checkbox" class="private">
        Private party &mdash; invitees only
      </label>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Add event</a>
    </div>
  </div>
</template>