<template name="details">
  <div class="details">
    {{#if party}}
      {{#with party}}
        <h1>{{title}}</h1>

        <div class="description">{{description}}</div>

        {{> attendance}}

        <div class="rsvp-buttons">
          {{#if currentUser}}
            <input type="button" value="I'm going!"
                   class="btn btn-small rsvp_yes {{maybeChosen "yes"}}">
            <input type="button" value="Maybe"
                   class="btn btn-small rsvp_maybe {{maybeChosen "maybe"}}">
            <input type="button" value="No"
                   class="btn btn-small rsvp_no {{maybeChosen "no"}}">
          {{else}}
            <i>Sign in to RSVP for this event.</i>
          {{/if}}
          <p><small>Posted by {{creatorName}}</small></p>
        </div>
  
        {{#if canRemove}}
        <!-- if nobody send RSVP then display dilouge box to delete the event  -->
          <div class="alert alert-info"><small>
              You posted this event and nobody is signed up to go, so if
              you like, you could
              <b><a href="#" class="remove">delete this listing</a></b>.
          </small></div>
        {{/if}}
      {{/with}}
    {{else}}
      <h1 class="muted pagination-centered">
        {{#if anyParties}}
          Click an event to select it
        {{else}}
          Sign in and double click the map to post an event
        {{/if}}
      </h1>
    {{/if}}
  </div>
</template>